body {
  background-color: #AD88C6;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200%;
  width: 100%;
}
.rectangulo {
  margin-top: 90px;
  width: 520px;
  height: auto;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

h1{
  text-align: center;
  color: rgb(75, 1, 75);
  font-family: "Poppins", sans-serif;
}

h3{
  color: gray;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

button{
  width: 500px;
  position: relative;
  background-color: #401F71;
}